.hidden {
  visibility: hidden;
}

.libraryNameBold {
  font-weight: bold;
}

table {
    margin-bottom: 0;
}

.button {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.bold .button {
    color: #000 !important;
}
